#wrapper{
        color: black;
        font-family: sans-serif;
        font-style: normal;

}
#signin{
    position: relative;
    left: 650px;
    top: 100px;
    font-size: 20px;    
    border-color: gray;
    border-width: 2px;
    border-radius:5px;
}

#signin input{
    border-color: #bbb;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 125px 5px 5px;
    margin: 5px;
}
#signin form{
    width: 300px;
    position: center;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    position: center;
    border-radius:5px;
    margin: 10px 10px 10px 0px;
    padding: 20px;
}
#signin h2{
    margin: 5px;
}
#formbutton{
}
#formbutton input{
    color: white;
    background-color: gray;
    border-color: white;
    border-radius: 10px;
    padding: 10px 20px;
}

.heading{color: #bbb;
        position: absolute;
        font-weight: bold;
        top: 0;
        left: 0;
        width: 100%;
        border: 0px;
        background-color:black;
        margin: 0px;
        padding: 15px;}

.error{color: #b00;

border-color: rgba(187,0,0,.5);
font-size: 14px;
margin: 0px 0px 0px 200px;
padding: 10px;
border-radius: 5px;
background-color: rgba(187,0,0,.1);

}

#body{
    margin:75px 0;
  
}